div.pizzaSpace {
    display: table;
}

div.pizzaElement {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    /* width: 100px;
    height: 100px; */
    border: 5px dashed #000;
    margin: 5px;
    text-align: center;
}

.pizzaHeader {}

form.pizzaInput {}

button.delete {}

div.pizzaOutput {}

details.outputDetails {}

canvas.pizzaDisplay {}

label.inputLabel {}

input.numberInput {
    max-width: 50px;
}

span.outputLabel {}

span.numberOutput {}

.unitLabel {}